# ─────────────────────────────────────────
#  Frontend Environment Variables
# ─────────────────────────────────────────

VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_CONTACT_TEMPLATE=your_contact_template_id
VITE_EMAILJS_CAREER_TEMPLATE=your_career_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
