# ─────────────────────────────────────────
#  Frontend Environment Variables
# ─────────────────────────────────────────

# Base URL of the backend API
# Local dev:   http://localhost:8080
# Production:  https://orizo-backend-production.up.railway.app
VITE_API_URL=http://localhost:8080

VITE_EMAILJS_SERVICE_ID=service_x1q5s9l
VITE_EMAILJS_CONTACT_TEMPLATE=template_lky36ok
VITE_EMAILJS_CAREER_TEMPLATE=template_h8mjq5s
VITE_EMAILJS_PUBLIC_KEY=PaqpB2lkbVSTH-bIZ
